.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.adminProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminProduct .container {
  display: flex;
  flex-direction: column;
  width: 610px;
}

.adminProduct .label {
  margin-bottom: 6px;
}

.adminProduct .input {
  box-sizing: border-box;
  outline: none;
  padding: 12px;
  border: 1px solid #AC917B;
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
}

.adminProduct input[type="file"] {
  margin-left: 10px;
  margin-bottom: 12px;
}

.adminProduct .textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: 1px solid #AC917B;
  resize: none;
  width: 100%;
  height: 100px;
  margin-bottom: 12px;
}

.adminProduct .button {
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  cursor: pointer;
  background-color: #FDFAF8;
  border: 1px solid #AC917B;
  transition: all ease 0.3s;
}

.adminProduct .button:hover {
  background-color: #6A5E5E;
  color: #fff;
}