.productInfo{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.intro{
    min-width: 800px;
    margin: 0 100px;
    display: flex;
    height: 335px;
}
.imgBox{
    min-width: 300px;
    height: 100%;
    background-color: white;
}
.introText{
    margin-left: 100px;
    max-height: 300px;
}
.introText p{
    max-height: 200px;
    text-overflow: clip;
}
.introText button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    margin: 50px 10px;

}
section>div{
    margin: 50px 0;
}
.review{

}
.review_head{
    display: flex;
    justify-content: space-between;
}
.review_item{
    margin: 40px 0;
}
p{
    margin: 0;
}
.rate{
    font-size: 20px;
}